<section class="cc">
    <div class="container">
        <div class="text-white text-center pb-0 pt-4">
            <h5>Book your flight in simple 4 steps</h5>
        </div>
    </div>
    <div class="step-wizard container px-lg-5 pt-3 px-0 ">
        <ul class="step-wizard-list container-lg px-lg-5 px-0">
            <li class="step-wizard-item ">
                <span class="progress-count">1</span>
                <span class="progress-label">Review Booking</span>
            </li>
            <li class="step-wizard-item current-item">
                <span class="progress-count">2</span>
                <span class="progress-label">Sign In</span>
            </li>
            <li class="step-wizard-item ">
                <span class="progress-count ">3</span>
                <span class="progress-label">Traveller detail</span>
            </li>
            <li class="step-wizard-item ">
                <span class="progress-count">4</span>
                <span class="progress-label">Payment</span>
            </li>
        </ul>
    </div>
</section>