<section class="cc">
    <div class="container">
        <div class="text-white text-center pb-0 pt-4">
            <h5>Book Your Flight In Simple 4 Steps</h5>
        </div>
    </div>
    <div class="step-wizard container px-lg-5 pt-3 px-0 ">
        <ul class="step-wizard-list container-lg px-lg-5 px-0">
            <li class="step-wizard-item ">
                <span class="progress-count">1</span>
                <span class="progress-label">Review Booking</span>
            </li>
            <li class="step-wizard-item current-item">
                <span class="progress-count">2</span>
                <span class="progress-label">Sign In</span>
            </li>
            <li class="step-wizard-item ">
                <span class="progress-count ">3</span>
                <span class="progress-label">Traveller detail</span>
            </li>
            <li class="step-wizard-item ">
                <span class="progress-count">4</span>
                <span class="progress-label">Payment</span>
            </li>
        </ul>
    </div>
</section>

<div class="container px-lg-5 pt-5">
    <div class="txt"><b> My Booking</b>

    </div>
</div>




<div class="container px-lg-5  pt-5 ">
    <div class="sc1 s2">
        <div class="booking-step-container booking-step-2">
            <div class="booking-step mb-4 bdr-b4">
                <ul class="form-row  fs-15 mt-md-3 mt-2    bdr-none">
                    <li class="col-md-1 text-center mb-md-0 mb-2">
                        <img class="bbn" src="https://i.postimg.cc/WpFWW9hK/image.png" alt="">
                    </li>
                    <li class="col-md-3 mb-md-0 mb-2">
                        <strong class="fw-500 d-block">All Nippon Airlines</strong>
                        Flight No - <span>NH 1604</span>
                    </li>
                    <li class="col-md-2 mb-md-0 mb-2">
                        <strong class="fw-500">KCZ</strong> 13 Nov 08:40
                    </li>
                    <li class="col-md-2 mb-md-0 mb-2">
                        <strong class="fw-500">DXB</strong> 13 Nov 08:40
                    </li>
                    <li class="col-md-2 mb-md-0 mb-2">
                        <div>1 stop</div>
                        26hr 5m
                    </li>
                    <li class="col-md-2 mb-md-0 mb-2">
                        <strong class="d-block lgt-b">RS.128389</strong>
                        1 adult
                        Fare Details
                    </li>
                </ul>
            </div>
            <div class="booking-step">
                <ul class="form-row fs-15 mt-md-3 mt-2">
                    <li class="col-md-1 text-center mb-md-0 mb-2">
                        <img class="bbn" src="https://i.postimg.cc/KvywXWp1/image.png" alt="">
                    </li>
                    <li class="col-md-3 mb-md-0 mb-2">
                        <strong class="fw-500 d-block">Emirates Airline</strong>
                        Flight No - <span>EK 316</span>
                    </li>
                    <li class="col-md-2 mb-md-0 mb-2">
                        <strong class="fw-500">DXB</strong> 13 Nov 08:40
                    </li>
                    <li class="col-md-2 mb-md-0 mb-2">
                        <strong class="fw-500">KCZ</strong> 13 Nov 08:40
                    </li>
                    <li class="col-md-2 mb-md-0 mb-2">
                        <div>1 stop</div>
                        24hr 5m
                    </li>
                    <!-- <li class="col-md-2 mb-md-0 mb-2">
                <strong class="d-block light-blue-txt">RS.128389</strong> 
                1 adult 
                Fare Details
            </li> -->
                </ul>
            </div>
        </div>
    </div>
</div>



<!-- section -->

<div class="container pt-3  px-lg-5 ">
    <div class="s4 s5">
        <p>Before booking! <span><a href="">sign in</a></span></p>
    </div>
    <div class=" s4">
        <ul class="p-0">
            <li>You are logged in with below id</li>
            <li><b>sreehari@gmail.com</b>&nbsp;<span><a href="">change</a></span></li>
        </ul>
    </div>
    <div class="s4">
        <button class="btn btn-primary px-4 py-1" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">continue</button>
    </div>
    <div class="collapse pt-4" id="collapseExample">
        <div class="sv1 pb-1">Traveller Details</div>
        <div class="card card-body  pt-4 pt-2">
            <div>
                <p class="sv2">Please enter traveller's name exactly as on passport</p>
            </div>
            <div>
                <ul class="d-lg-flex  bdr-b4 d-block justify-content-between pb-4">
                    <li>
                        <p class="sv2 pt-1"><b class="sv4">Adult 1</b></p>
                    </li>
                    <li><select class="form-select sv4 form-select-sm" aria-label=".form-select-sm example">
                            <option selected>Mr</option>
                            <option value="1">Mrs</option>

                        </select></li>
                    <li class="pt-2 pt-lg-0 pt-md-0"><input class="sv4 sv6 " placeholder="First name" type="text"></li>
                    <li class="pt-2 pt-lg-0 pt-md-0"><input class="sv4 sv6" placeholder="Last name" type="text"></li>
                    <li class="pt-2 pt-lg-0 pt-md-0"><input placeholder="Date of Birth" class="textbox-n sv4 sv6"
                            type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date"></li>
                    <li class="pt-2 pt-lg-0 pt-md-0"><input class="sv4 sv6" placeholder="Passport NO." type="number">
                    </li>
                    <li class="pt-2 pt-lg-0 pt-md-0"><input placeholder="Expiry Date" class="textbox-n sv4 sv6"
                            type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date"></li>
                </ul>
            </div>
            <div>
                <ul class="d-lg-flex  d-block  ">
                    <li>
                        <p class="sv2 pt-1"><b class="sv4">Contact Details</b></p>
                    </li>
                    <li class="pe-5"></li>
                    <li class="pt-2 pe-2 pt-lg-0 pt-md-0 "><input class="sv4 sv6" placeholder="Mobile number"
                            type="number"></li>
                    <li class="pt-2 pe-2 pt-lg-0 pt-md-0 "><input class="sv4 sv6 w-100" placeholder="Email address"
                            type="email"></li>
                    <li class="pt-2 pt-lg-0 pt-md-0 justify-content-between ">
                        <select class="form-select sv7 sv4 form-select-sm" aria-label="Default select example">
                            <option class="" selected>Location</option>
                            <option value="1">Location1</option>
                            <option value="2">Location2</option>
                            <option value="3">Location3</option>
                        </select>
                    </li>


                </ul>
            </div>
            <div>
                <ul class="d-flex">
                    <li class="pe-2"><b>GST</b></li>
                    <li class="form-check cs6 py-1"><input class="form-check-input" type="checkbox" value=""
                            id="flexCheckChecked" checked>
                        <label class="form-check-label " for="flexCheckChecked">
                            Use Gstin for this booking
                        </label>
                    </li>
                </ul>
            </div>
            <div>
                <button (click)="stepfour()" class="btn btn-primary px-4 py-1">continue</button>
            </div>
        </div>

    </div>

</div><br>