<section class="s1 ">
    <div class="container pt-2  ">
        <div class="text-center">
            <small class="">Kochi To Dubai Return Flights (KCZ to DXB) Fri, 18 Nov - Sat, 26 Nov | 1 Adult Modify
                Search</small>
        </div>
        <div class=" c1  ">

            <div class="row   pt-2 ">

                <ul class="d-lg-flex m-0   d-block  px-5">
                    <li class="pe-3 pl-3 pl-lg-2 pt-lg-1">
                        <i class="fa-solid fa-plane p-0"></i> <label for="">&nbsp;
                            Flights</label>

                    </li>

                    <li class="pt-1 pl-3 pl-lg-0 pe-3">

                        <div class="form-check">



                            <label (click)="onTabClick('Account Details')"
                                [class.active]="activeTab == 'Account Details'" class="form-check-label"
                                for="flexRadioDefault1">

                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1" checked>
                                <form [formGroup]="myForm" action="" (ngSubmit)="searchFlights()">

                                    Round Trip
                                </form>

                            </label>

                        </div>

                    </li>

                    <li class="pe-3 pl-3 pl-lg-0 pt-1">
                        <div class="form-check">
                            <label (click)="onTabClick('oneway')" [class.active]="activeTab == 'oneway'"
                                class="form-check-label" for="flexRadioDefault2">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault2">

                                One way
                            </label>
                        </div>
                    </li>
                    <li class="pe-3 pl-3 pl-lg-0 pt-1">
                        <div class="form-check">
                            <label (click)="onTabClick('other details')" [class.active]="activeTab == 'other details'"
                                class="form-check-label" for="flexRadioDefault3">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault3">

                                Multi city
                            </label>
                        </div>
                    </li>
                    <li class="pe-3 pl-3 pl-lg-0 pt-1">
                        <div class="dropdown">
                            <a class=" dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                                data-bs-auto-close="outside" aria-expanded="false">
                                Traveller
                            </a>

                            <div class="dropdown-menu p-3">
                                <p class="text-center p-0" for="">Adult</p>
                                <div class="d-flex ">
                                    <button class="btn btn-primary btn-sm " type="button" (click)="minus()"><i
                                            class="fa fa-minus"></i></button>
                                    <input disabled class="text-center zx3" type="text" #box [value]="quantity" min="1"
                                        max="8">
                                    <button class="btn btn-primary btn-sm" type="button" (click)="plus()"><i
                                            class="fa fa-plus"></i></button>
                                </div>
                                <p class="text-center p-0" for="">Child</p>
                                <div class="d-flex w-50 ">
                                    <button class="btn btn-primary btn-sm " type="button" (click)="minus1()"><i
                                            class="fa fa-minus"></i></button>
                                    <input disabled class="text-center zx3" type="text" #box [value]="quantity1" min="1"
                                        max="8">
                                    <button class="btn btn-primary btn-sm" type="button" (click)="plusj()"><i
                                            class="fa fa-plus"></i></button>
                                </div>
                                <!-- <label for="">adult</label> <input #box (keyup)="getvalue(box.value)"  min="1" max="8" value="1"
                                        class="form-control" type="number">  -->


                                <!-- (keydown)="getvalue(box.value)" -->




                            </div>
                        </div>
                    </li>
                    <li class="pt-1 pl-3 pl-lg-0 soso">
                        <select>
                            <option class="p-0" selected>Economy</option>
                            <option class="p-0" value="1">Business</option>
                            <option class="p-0" value="2">Students</option>
                            <!-- <option class="p-0" value="3">Three</option> -->
                        </select>
                    </li>
                </ul>










                <div *ngIf="activeTab == 'oneway'" class=" px-4">
                    <form [formGroup]="myForm" (ngSubmit)="searchFlights()">
                        <div class="container text-center col-lg-12">
                            <ul class="d-lg-flex  d-block  mk col-lg-12">
                                <li class="w-100 pt-2 pt-lg-0"> <input id="OriginLocationCode"
                                        formControlName="OriginLocationCode" name="OriginLocationCode," type="text"
                                        class=" form-control su  " placeholder="Departing from">
                                </li>

                                <li class="w-100 pt-2 pt-lg-0"> <input id="DestinationLocationCode"
                                        formControlName="DestinationLocationCode" name="DestinationLocationCode"
                                        type="text" class="form-control su  " placeholder="Going to">
                                </li>


                                <li class="w-100 pt-2 pt-lg-0"> <input id="departure_date"
                                        formControlName="DepartureDateTime" name="DepartureWindow" type="date"
                                        class="form-control su ">
                                </li>
                                <li class="w-100 pt-2 pt-lg-0 d-none "> <input [(ngModel)]="quantity"
                                        formControlName="ADT" type="text" class="form-control su ">
                                </li>
                                <!-- <li class="w-100 pt-2 pt-lg-0"> <input id="return_date" formControlName="ADT"
                                        name="DepartureDateTime1" type="number" class="form-control su  ">
                                </li> -->
                                <li class="w-100 pt-2 pt-lg-0">
                                    <!-- <button  [disabled]="isloading" type="submit" class="btn btna  w-100">Search</button> -->
                                    <button [disabled]="isloading" class="btn btna  w-100" type="submit">
                                        <span *ngIf="isloading" class="spinner-border spinner-border-sm" role="status"
                                            aria-hidden="true"></span>
                                        <span *ngIf="isloading" class>Loading...</span>
                                        <span *ngIf="!isloading">search</span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>



                <div *ngIf="activeTab == 'Account Details'" class=" px-4">
                    <form [formGroup]="returnform" (ngSubmit)="searchroundtrip()">

                        <div class="container text-center">
                            <ul class="d-lg-flex  d-block  mk col-lg-12">
                                <li class="w-100 pt-2 pt-lg-0"> <input #box (keyup)="getvalue(box.value)" type="text"
                                    formControlName="OriginLocationCode" class=" form-control su  "
                                    placeholder="Departing from">
                                </li>
                                <li class="w-100 pt-2 pt-lg-0"> <input #box2 (keyup)="getvalue2(box2.value)" type="text"
                                    formControlName="DestinationLocationCode" class="form-control su  "
                                    placeholder="Going to">
                                </li>
                                <li class="w-100 pt-2 pt-lg-0 d-none"> <input id="box" [(ngModel)]="displayval"
                                    type="text" formControlName="DestinationLocationCode1" class="form-control su  "
                                    placeholder="Going to">
                            </li>
                            <li class="w-100 pt-2 pt-lg-0 d-none"> <input id="box2" [(ngModel)]="displayval2"
                                type="text" formControlName="OriginLocationCode1" class=" form-control su  "
                                placeholder="Departing from">
                        </li>
                                <li class="w-100 pt-2 pt-lg-0"> <input type="date" formControlName="DepartureDateTime"
                                    class="form-control su ">
                                </li>
                                <li class="w-100 pt-2 pt-lg-0"> <input type="date" formControlName="DepartureDateTime1"
                                    class="form-control su ">
                                </li>
                                <li class="w-100 pt-2 pt-lg-0 d-none "> <input [(ngModel)]="quantity"
                                        formControlName="ADT" type="text" class="form-control su ">
                                </li>

                                <li class="w-100 pt-2 pt-lg-0">
                                    <button [disabled]="isloading" class="btn btna  w-100" type="submit">
                                        <span *ngIf="isloading" class="spinner-border spinner-border-sm" role="status"
                                            aria-hidden="true"></span>
                                        <span *ngIf="isloading" class>Loading...</span>
                                        <span *ngIf="!isloading">search</span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>


                <div *ngIf="activeTab == 'other details'" class=" px-4">
                    <div class="container text-center ">
                        <div class="row">
                            <div class="col-lg-9">
                                <ul class="d-lg-flex  d-block  mk col-lg-12">
                                    <li class="w-100 pt-2 pt-lg-0"> <input
                                            formControlName="OriginDestinationInformation" name="OriginLocationCode"
                                            type="text" class=" form-control su  " placeholder="Departing from">
                                    </li>
                                    <li class="w-100 pt-2 pt-lg-0"> <input formControlName="DestinationLocationCode"
                                            name="DestinationLocationCode" type="text" class="form-control su  "
                                            placeholder="Going to">
                                    </li>
                                    <li class="w-100 pt-2 pt-lg-0"> <input formControlName="DepartureDateTime"
                                            name="DepartureDateTime" type="date" type="date" class="form-control su ">
                                    </li>


                                </ul>
                                <ul class="d-lg-flex  d-block  mk col-lg-12">
                                    <li class="w-100 pt-2 pt-lg-0"> <input
                                            formControlName="OriginDestinationInformation" name="OriginLocationCode"
                                            type="text" class=" form-control su  " placeholder="Departing from">
                                    </li>
                                    <li class="w-100 pt-2 pt-lg-0"> <input formControlName="DestinationLocationCode"
                                            name="DestinationLocationCode" type="text" class="form-control su  "
                                            placeholder="Going to">
                                    </li>
                                    <li class="w-100 pt-2 pt-lg-0"> <input formControlName="DepartureDateTime"
                                            name="DepartureDateTime" type="date" type="date" class="form-control su ">
                                    </li>


                                </ul>
                            </div>

                            <div class="col-lg-3  pt-lg-3">
                                <button type="submit" class="btna btn  w-100">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="container px-lg-5  py-3">
    <div> <small class="sml">Home<span>-></span> International flight round trip <span>-></span>Kochi to dubai return
            flights</small>
    </div>
    <div class="pt-5">
        <h5 style="font-weight: bold;">All Flights</h5>
    </div>
</div>

<div *ngIf="isloading" class="p-0 m-0">

    <div class="text-center">
        <img class="" style="height: 10rem; width: 20rem; " src="../../assets/images/plane-loader-slower.gif" alt="">
    </div>
</div>


<div *ngFor="let product of products || productnumber" class="container px-lg-5 pb-2">
    <!-- *ngIf=" searchFlights()" -->
    <!-- *ngFor="let searc of search" -->
    <!-- *ngFor="let product of products; let i=index" -->

    <div class="table-responsive vv ">
        <table class="table table-borderless">
            <thead class="thd">
                <tr class="tng">
                    <th scope="col">Airline</th>
                    <th scope="col">Depart</th>
                    <th scope="col">Stops</th>
                    <th scope="col">Arrive</th>
                    <th scope="col">Duration</th>

                    <th scope="col">Price</th>

                </tr>
            </thead>
            <!-- flightDetailsReturn -->
            <tbody class="tbd ">
                <tr class="">
                    <th class="" scope="row"><img src="https://i.postimg.cc/Jz5FX5YZ/image.png" alt=""></th>
                    <td>
                        <div>{{product.flightDetails.DepartureDateTime}}</div>
                        <div class="pt-4">{{product.flightDetailsReturn
                            .DepartureDateTime}}</div>
                    </td>
                    <td>
                        <div>{{product.flightDetails.stops}}</div>
                        <div class="pt-4">{{product.flightDetailsReturn.stops}}</div>
                    </td>
                    <td>
                        <div>{{product.flightDetails.DepartureAirportLocationCode}}</div>
                        <div class="pt-4">{{product.flightDetailsReturn.DepartureAirportLocationCode}}</div>
                    </td>
                    <td>
                        <div> {{product.flightDetails.JourneyDuration}}<span> min</span>
                        </div>
                        <div class="pt-4"> {{product.flightDetailsReturn.JourneyDuration}}<span> min</span></div>
                    </td>
                    <td class="">
                        <div style="font-size: 17px; font-weight: 700;">
                            {{product.flightFare.PassengerFare[0].TotalFare}} <i style="font-size:17px;"
                                class="fa-solid fa-dollar-sign"></i></div>
                        <div><a href='stepone/{{product.FareSourceCode}}' class="btn btnb btn-primary">BOOK</a>
                        </div>
                    </td>


                </tr>



            </tbody>



        </table>
        <div class="container">
            <div class="row  ">
                <div (click)="onTabClick4('Personal Details3')" class="col-4 vb text-lg-center text-md-center m-auto ">
                    <button [class.active1]="activeTab4 == 'Personal Details3'" class="bnm "> Flight
                        details</button>
                </div>
                <div (click)="onTabClick4('Personal Details4')" class="col-4 vb text-lg-center text-md-center m-auto">
                    <button [class.active1]="activeTab4 == 'Personal Details4'" class="bnm">Fare details</button>
                </div>
                <div (click)="onTabClick4('Personal Details5')" class="col-4 vb text-lg-center text-md-center">
                    <button [class.active1]="activeTab4 == 'Personal Details5'" class="bnm"> Baggage
                        details</button>
                </div>
            </div>
        </div>


    </div>
    <div *ngIf="activeTab4 == 'Personal Details3'" class=" pb-4 container a12 ">
        <div class="text-end bvc"> <button (click)="onTabClick4(prod)" type="button" class="btn-close bvc">
            </button>
        </div>
        <div class="row pt-2">
            <div class="col-lg-6">
                <div class="bvc">
                    <span class="bvc">Kochi</span>-><span class="bvc">Dubai</span><span class="bvc">friday 18
                        nov,2022</span><span class="bvc">reaches next day</span>
                </div>

            </div>
            <div class="col-lg-6 text-lg-end text-start">
                <div class="bvc">
                    <span class="bvc">Total duration</span><span class="bvc">22 hr 45 min</span>
                </div>

            </div>
        </div>
        <div class="row pt-2 bvc">
            <div class="col-lg-4 bvc">
                <div><b>Japan Airlines</b></div>
                <div>flight no - <span>JL 49 Economy Boeing 73 H</span></div>
            </div>
            <div class="col-lg-4 pt-1 pt-lg-0 text-lg-center text-start bvc">
                <div><b>KCZ 11:45</b></div>
                <div>Friday 18 nov,2022 kma,kochi</div>
            </div>
            <div class="col-lg-4 pt-1 pt-lg-0 bvc">
                <div><b>13:00HND</b></div>
                <div>fri 18 nov,2022 Tokyo International,Tokyo Haneda Terminal 1</div>
            </div>
        </div>
        <div class="row pt-4 bvc">
            <div class="col-12">
                <p class="bvc">note you will have to change airport while travelling</p>
            </div>
        </div>
        <div class="row pt-2 bvc">
            <div class="col-lg-6 bvc">
                Dubai -> kochi Saturday, 26 Nov, 2022 Arrives next day
            </div>
            <div class="col-lg-6 text-lg-end text-start pt-1 pt-lg-0 bvc">
                Total Duration: 24hr 5m
            </div>


        </div>
    </div>


    <!-- tab 2 -->
    <div *ngIf="activeTab4 == 'Personal Details4'" class="pb-4 container  a12">
        <div class="text-end bvc"> <button (click)="onTabClick4('Personal Details8')" type="button"
                class="btn-close bvc"> </button></div>

        <div class="row">
            <div class="col-md-5">
                <ul>
                    <li class="d-flex justify-content-between bvc p-1 bdr-b">
                        <strong class="fs-14 fw-600">Fare Breakup <span class="fw-400">(in ₹)</span></strong>
                        <span>1 adult</span>
                    </li>

                    <li class="p-0 text-start">
                        <ul class="bdr-b p-0">
                            <li class="text-left p-1"><strong class="fw-500">Base Fare</strong></li>
                            <li class="d-flex justify-content-between p-1"><span>Adult
                                    (38748x1)</span><span>38748</span></li>
                            <li class="d-flex justify-content-between p-1"><span>Airline Charges &amp;
                                    Taxes</span><span>5070</span></li>
                            <li class="d-flex justify-content-between pw-500 pl-1 pr-1 bdr-t"><span>Airline
                                    Fare</span><span>43818</span></li>
                        </ul>
                        <ul class="bdr-b p-0">
                            <li class="d-flex justify-content-between p-1"><span>Discount</span><span>(-)0</span>
                            </li>
                            <li class="d-flex justify-content-between pl-1 pr-1 bdr-t"><span>Net Thomas Cook
                                    Charges</span><span>0</span></li>
                        </ul>
                    </li>

                    <li class="d-flex mt-2 nht justify-content-between">
                        <span>Total fare</span>
                        <span><strong>₹ 43,818</strong></span>

                    </li>


                </ul>


            </div>
            <div class="col-md-7">
                <ul>
                    <li class="d-flex align-items-baseline p-1 bdr-b">
                        <strong class="fs-14 fw-600">Fare Rules </strong>
                        <span
                            class="uppercase-txt text-white bg-success border-radius-5 ml-2 pl-1 pr-1">Refundable</span>
                    </li>
                    <li>
                        <ul class="p-0">
                            <li class="d-flex justify-content-between p-1 mt-1 p-0">
                                <strong class="fs-13 fw-600">Cancellation fee<span class="fw-400">(per
                                        passenger)</span></strong>
                                <span class="uppercase-txt">cok-dxb</span>
                            </li>
                            <li class="text-left ps-0 pe-1">
                                <table class="w-100 p-0 ">
                                    <tbody>
                                        <tr class="bdr">
                                            <td class="bg-f0f3f5 p-1" style="width: 40%;">Airline fee</td>
                                            <td class="p-1">₹ 500</td>
                                        </tr>
                                        <tr class="bdr">
                                            <td class="bg-f0f3f5 p-1" style="width: 40%;">Thomas Cook Fee</td>
                                            <td class="p-1">₹ 500</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </li>
                        </ul>
                        <ul class="p-0">
                            <li class="d-flex justify-content-between p-1 mt-1">
                                <strong class="fs-13 fw-600">Date Change fee<span class="fw-400">(per
                                        passenger)</span></strong>
                                <span class="uppercase-txt">cok-dxb</span>
                            </li>
                            <li class="text-left ps-0 pe-1">
                                <table class="w-100">
                                    <tbody>
                                        <tr class="bdr">
                                            <td class="bg-f0f3f5 p-1" style="width: 40%;">Airline fee</td>
                                            <td class="p-1">₹ 500</td>
                                        </tr>
                                        <tr class="bdr">
                                            <td class="bg-f0f3f5 p-1" style="width: 40%;">Thomas Cook Fee</td>
                                            <td class="p-1">₹ 500</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- tab-3 -->

    <div *ngIf="activeTab4 == 'Personal Details5'" class="a12">
        <div class="tab-pane p-lg-5 pt-5 p-3 pane3 active">
            <div class="text-end bvc"> <button (click)="onTabClick4('Personal Details8')" type="button"
                    class="btn-close bvc"> </button></div>
            <ul class="fs-13">
                <li class="text-left p-1 bdr-b">
                    Cochin <span class="right-arrow-small arrow-000000">-></span> Cochin
                </li>
                <li class="p-0">
                    <ul class="row align-items-center pt-3 px-0 pb-3">
                        <li class="col-md-1 mb-md-0 mb-2">
                            <img src="https://i.postimg.cc/Jz5FX5YZ/image.png" alt="">
                        </li>
                        <li class="col-md-2 flex-column text-left mb-md-0 mb-2">
                            <strong>Emirates</strong>
                            <span class="uppercase-txt">cok <span class="right-arrow-small arrow-000000"></span>
                                dxb</span>
                        </li>
                        <li class="col-md-7">
                            <ul class="row bdr-b">
                                <li class="col-4">Checkin</li>
                                <li class="col-4">1 pcs/person</li>
                                <li class="col-4">20 kgs/1pcs</li>
                            </ul>
                            <ul class="row">
                                <li class="col-4">Cabin</li>
                                <li class="col-4">1 pcs/person</li>
                                <li class="col-4">7 kgs/1pcs</li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="row align-items-center pt-3 px-0 pb-3">
                        <li class="col-md-1 mb-md-0 mb-2">
                            <img src="https://i.postimg.cc/Jz5FX5YZ/image.png" alt="">
                        </li>
                        <li class="col-md-2 flex-column text-left mb-md-0 mb-2">
                            <strong>Emirates</strong>
                            <span class="uppercase-txt">cok <span class="right-arrow-small arrow-000000"></span>
                                dxb</span>
                        </li>
                        <li class="col-md-7">
                            <ul class="row bdr-b">
                                <li class="col-4 bvc">Checkin</li>
                                <li class="col-4">1 pcs/person</li>
                                <li class="col-4">20 kgs/1pcs</li>
                            </ul>
                            <ul class="row">
                                <li class="col-4">Cabin</li>
                                <li class="col-4">1 pcs/person</li>
                                <li class="col-4">7 kgs/1pcs</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="fs-13 fw-500 text-left bvc">
                <p class="bvc"><strong>Note: </strong>The information provided above is as retrieved from the
                    airline
                    reservation system. Thomas Cook does not guarantee the authenticity of this information. The
                    baggage
                    allowance may vary according to stop-overs, connecting flights and changes in airline rules.
                    Customer is adviced to verify the same from the airline directly before departure.</p>
            </div>
        </div>
    </div>


</div>

<br><br>