<section class="midbar-banner-inner detail-page-banner"
    style="background-image:url('https://i.postimg.cc/fLwFnQjN/image.png');">
    <div class="container  px-lg-5  d-flex align-items-center h-100">
        <h2 class="ss">Dubai</h2>
    </div>
</section>

<div class="container px-lg-5 mt-4">
    <h4 class="g1">Dubai</h4>
    <h2 class="g2">Tour packages<span class="text-muted tt">33 | Packages</span></h2>
</div>

<div class="container  px-lg-5">
    <div class="card">
    <div>
        <small>refine search</small>
    </div>
    <div class="row card">
        <ul class=" d-flex">
            <li>
                <div class="dropdown">
                    <div class=" dropdown-toggle d1" data-bs-toggle="dropdown" aria-expanded="false">
                        Departure city
                    </div>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="dropdown">
                    <div class=" dropdown-toggle d1" data-bs-toggle="dropdown" aria-expanded="false">
                        Departure city
                    </div>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </li>

            <li>
                <div class="dropdown">
                    <div class=" dropdown-toggle d1" data-bs-toggle="dropdown" aria-expanded="false">
                        Departure city
                    </div>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </li>


            <li>
                <div class="dropdown">
                    <div class=" dropdown-toggle d1" data-bs-toggle="dropdown" aria-expanded="false">
                        Departure city
                    </div>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </li>


            <li>
                <div class="dropdown">
                    <div class=" dropdown-toggle d1" data-bs-toggle="dropdown" aria-expanded="false">
                        Departure city
                    </div>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </li>


            <li>
                <div class="dropdown">
                    <div class=" dropdown-toggle d1" data-bs-toggle="dropdown" aria-expanded="false">
                        Departure city
                    </div>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </li>


            <li>
                <div class="dropdown">
                    <div class=" dropdown-toggle d1" data-bs-toggle="dropdown" aria-expanded="false">
                        Departure city
                    </div>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </li>



            <li>
                <div class="dropdown">
                    <div class=" dropdown-toggle d1" data-bs-toggle="dropdown" aria-expanded="false">
                        Departure city
                    </div>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </li>


            <li>
                <div class="dropdown">
                    <div class=" dropdown-toggle d1" data-bs-toggle="dropdown" aria-expanded="false">
                        Departure city
                    </div>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </li>
            <!-- <div class="col">
            <div class="col">
                <div class="dropdown">
                    <div class=" dropdown-toggle d1" data-bs-toggle="dropdown" aria-expanded="false">
                        Departure city
                    </div>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="col">
                <div class="dropdown">
                    <div class=" dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Departure city
                    </div>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>
        </div> -->
            <!-- <div class="col">scjsbj</div>
        <div class="col">scjsbj</div>
        <div class="col">scjsbj</div>
        <div class="col">scjsbj</div> -->

        </ul>
    </div>
</div></div>