@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Dancing+Script&family=Edu+QLD+Beginner&family=Lobster&family=Pacifico&family=Permanent+Marker&family=Rubik+Moonrocks&family=The+Nautigal:wght@400;700&family=Titan+One&display=swap');


.detail-page-banner{
    background-repeat: no-repeat;
    background-position: center top;
    height: 40vh;
    background-size: cover;
    width: 100%;
}
/* .xcx{
    padding-right: 75px;
    padding-left: 75px;
    margin-right: auto;
    margin-left: auto;
  } */
  .ss{
    color: #FFFFFF;
    opacity: 0.75;
    font-weight: 700;
    font-size: 45px;
  }
  .g1{
      font-family: lobster;
  }
  .g2{
      color:#121E7E ;
      font-weight:900;
      font-family: 'Anton', sans-serif;
    
  }
  .tt{
      font-size: 15px;
      font-family: normal;
      font-weight: 100;
  }
.d1{
    font-size: smaller;
}
li{
    width: 100%;
    margin-right: .25rem;
    list-style: none;
}

.cc{
    background-color: aliceblue;
}
.card{
    border: none;
}
.c1{
    font-weight: bold;
}

.c2{
    background-color:  #fff;;
}
.c3{
    color: white;
}
/* .c4{
   background-image:url('https://i.postimg.cc/4xCsWYMF/image.png ') ;

   background-size: cover;
   background-repeat: no-repeat;
   display: flex;
} */
.c4{
    width: 100%;
    height: 100%;
}
.c5{
    font-weight: 700;
    font-size: 35px;
}
.btns{
    background-color: inherit;
   
    color: white;
    border: 1px white solid;

    border-radius: 20px;
    text-align: center;
}
.c6{
    background: #4756CB;
}
.fa-solid{
    font-size: smaller;
}