.head-img{
  height: 30%;
  width: 50%
}
.nav-link{
  color: black;
  font-size: small;
  padding-right: 30px;
}
li{
  font-style: none;
  text-decoration: none;
  font-size: smaller;
  list-style-type: none;
}
a{
  color: white;
}
.span{
  color:#121E7E; ;
}
.form-control{
  height: 30px;
}
.btns{
  background-color: #121E7E;
  color: white;
  height: 30px;
  text-align: center;
  border: none;
  font-size: small;
}
.btns:hover{
  color: #121E7E;
  background-color: white;
  border: 1px solid #121E7E;
}
::placeholder{
  font-size: small;
}
.po{
  font-size: small;
}
.poo{
  font-size: small;
}
.pom{
  color: #121E7E;
  font-size: small;

}
.vvnm{
  border: none;
  background: inherit;
  color: green;
}
.vvnm:hover{
  color: red;
}
.wwe{
  font-size: smaller;
  color:gray;
}
.ccy{
  background-color: inherit; 
  color: white;
  border: none;
  font-size:small;
  /* padding-top: -2px; */
}
.cxzv{
  color: black;
  background-color: black;
}
.dropdown-toggle{
  padding: 0px;
  margin-top: -1px;
  color: white;
  font-size: small;
}
.ccdf{
  color: black;
}
.ccdf:focus{
  color: black;
  background-color: inherit;
  border: none;
  outline: none;

}
.btnssw:focus {
  box-shadow: none;
  border: none;
  outline: none;
}

.vvnb{
  border: none;
}
.btnssw{
  border: none;
  outline: none;
}
