.head-img{
  height: 30%;
  width: 50%
}
.nav-link{
  color: black;
  font-size: small;
  padding-right: 30px;
}
li{
  font-style: none;
  text-decoration: none;
  font-size: smaller;
  list-style-type: none;
}
a{
  color: white;
}