<section class="bg-black w-100">
    <div class="container w-100 px-lg-5 mx-l py-5">
        <div class="row">
            <div class="col-lg-4 col-md-3 col-12">
                <!-- <a class="navbar-brand col" href="#"><img class="head-img "
                        src="https://i.postimg.cc/jq1Yzsb2/image.png" alt=""></a> -->
                <p class="ff footer-text mt-2">Travelsite is a leading online travel agency providing competitive fares,
                    cutting edge technology and best in class customer service.</p>
                <a href="">
                    <p class="fff"><i class="fa-regular fa-envelope"></i>&nbsp; Travelsite@example.com</p>
                </a>
                <a href="">
                    <p class="fff"><i class="fa-solid fa-mobile-screen"></i>&nbsp; 197 543 8943</p>
                </a>
                <a href="">
                    <p class="fff"><i class="fa-regular fa-location-dot"></i>&nbsp; Broadway & morris st, new york</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-3 fff">
                <ul>
                    <li>Our services</li>
                </ul>
                <ul>
                    <li class="p-0"><a class="ff" href="">Dubai Tours</a></li>
                    <li class="p-0"><a class="ff" href="">Singapore Tours</a></li>
                    <li><a class="ff" href="">Dubai Visa</a></li>
                    <li><a class="ff" href="">Dubai visa extension</a></li>
                    <li><a class="ff" href="">kula lampur Tours</a></li>
                    <li><a class="ff" href="">Dubai packages</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-12 col-md-3 fff">
                <ul>
                    <li>Best Selling tours</li>
                </ul>
                <ul>
                    <li ><a class="ff" href="">Evening desert safari</a></li>
                    <li ><a class="ff" href="">Abu dhabi city tour</a></li>
                    <li><a class="ff" href="">Dubai Visa</a></li>
                    <li><a class="ff" href="">Dubai visa extension</a></li>
                    <li><a class="ff" href="">kula lampur Tours</a></li>
                    <li><a class="ff" href="">Dubai packages</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-12 col-md-3 fff">
                <ul>
                    <li>subscribe to our news letter</li>
                </ul>
                <ul class="ff">
                    <li>Do you want to receive our latest news and promotions?</li>
                    <li><input placeholder="name" class=" bg-black w-100 mt-2 ft" type="text"></li>
                    <li><input placeholder="email" class=" bg-black w-100 mt-2 ft" type="text"></li>

                </ul>
            </div>

        </div>
    </div>
</section>