<div class="container px-lg-5 pt-5">
    <h5 class="px-lg-5">User Dashboard</h5>
</div>
<div class="container px-lg-5 pt-3">
    <div class="row">
        <div class="col-md-4 ps-lg-5 ">
            <div class="dd">
                <ul class="p-0 text-center">
                    <li class="pt-3">
                        <img class="rounded-image cc" src="https://i.postimg.cc/ncXGmSN3/image.png" alt="">
                    </li>
                    <li class="cc2 pt-1">
                        Sreejith
                    </li>
                    <li class=" pt-1">
                        <button class="btn cc1 " for="">My account</button>
                    </li>
                </ul>
                <ul>
                    <li class="cc3 pt-4"><a class="hello1" routerLinkActive="active2"
                            [routerLink]="['/dashboard']">Manage Booking</a></li>
                    <li class="cc3 pt-4"><a class="hello1" routerLinkActive="active2"
                            [routerLink]="['/cancellation']">Cancellation</a></li>
                    <li class="cc3 pt-4"><a class="hello1" routerLinkActive="active2"
                            [routerLink]="['/profile']">profile</a>
                    </li>
                    <li class="cc3 pt-4"><a class="hello1" routerLinkActive="active2"
                            [routerLink]="['/settings']">settings</a>
                    </li>
                    <li class="cc3 pt-4"><a class="hello1" routerLinkActive="active2" [routerLink]="['#']">Logout</a>
                    </li>
                </ul>


            </div>
        </div>

        <div   class="col-md-8 h-100 px-3 pt-3 pt-md-0 px-md-0">
            <div  class="dd px-3 px-md-4 ">
                <div class="row pt-3">
                    <div class="col-6 kk5">
                        <p>Personal Information</p>
                    </div>
                    <div class="col-6 kk5 text-end"><button (click)="edit()" class="kk5 btn"><i class="fa-solid fa-user-pen"></i></button></div>
                </div>
                <div  class="row mb-2  kk4">
                    <div class="col-md-4 col-5">User Name</div>
                    <div class="col-1">:</div>
                    <div class="col">Sree</div>
                </div>
                <div class="row mb-2 kk4">
                    <div class="col-md-4 col-5">First Name</div>
                    <div class="col-1">:</div>
                    <div class="col">Sreejith</div>
                </div>
                <div class="row mb-2 kk4">
                    <div class="col-md-4 col-5">Last Name</div>
                    <div class="col-1">:</div>
                    <div class="col">Ravi</div>
                </div>
                <div class="row mb-2 kk4">
                    <div class="col-md-4 col-5">Phone Number</div>
                    <div class="col-1">:</div>
                    <div class="col">+ 91 6542147892</div>
                </div>
                <div class="row mb-2 kk4">
                    <div class="col-md-4 col-5">Date of Birth</div>
                    <div class="col-1">:</div>
                    <div class="col">05-08-1989</div>
                </div>
                <div class="row mb-2 kk4">
                    <div class="col-md-4 col-5">Street Address</div>
                    <div class="col-1">:</div>
                    <div class="col">Jews Street, Padma juction, Kochi 23</div>
                </div>
                <div class="row mb-2 kk4">
                    <div class="col-md-4 col-5">Country</div>
                    <div class="col-1">:</div>
                    <div class="col">India</div>
                </div>
                <div class="row mb-2 kk4">
                    <div class="col-md-4 col-5">Town / City</div>
                    <div class="col-1">:</div>
                    <div class="col">Ernakulam, Kochi</div>
                </div>
                <div class="row mb-2 kk4">
                    <div class="col-md-4 col-5">ZIP Code</div>
                    <div class="col-1">:</div>
                    <div class="col">682014</div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>