<div class="container px-lg-5 pt-5">
    <h5 class="px-lg-5">User Dashboard</h5>
</div>
<div class="container px-lg-5 pt-3">
    <div class="row">
        <div class="col-md-4 px-lg-5">
            <div  class="dd">
                <ul class="p-0 text-center">
                    <li class="pt-3">
                        <img class="rounded-image cc" src="https://i.postimg.cc/ncXGmSN3/image.png" alt="">
                    </li>
                    <li class="cc2 pt-1">
                        Sreejith
                    </li>
                    <li class=" pt-1">
                        <button class="btn cc1 " for="">My account</button>
                    </li>
                </ul>
                <ul>
                    <li class="cc3 pt-4"><a class="hello1" [routerLinkActive]="'active'" [routerLink]="['dashboard']">Manage Booking</a></li>
                    <li class="cc3 pt-4"><a class="hello1"   [routerLink]="['/cancellation']">Cancellation</a></li>
                    <li class="cc3 pt-4"><a class="hello1" routerLink="">profile</a></li>
                    <li class="cc3 pt-4"><a class="hello1" routerLink="">settings</a></li>
                    <li class="cc3 pt-4"><a class="hello1" routerLink="">Logout</a></li>
                </ul>
              
                
            </div>
        </div>
    </div>
</div><br>