<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner d-none d-md-none d-lg-block">
        <div class="carousel-item active" data-bs-interval="1000">
            <img src="../../assets/images/banner5.jpg" class="d-block vc w-100" alt="...">
            <div class="carousel-caption">
                <h2>lets go new</h2>
                <h3>Explore and travel</h3>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="1000">
            <img src="../../assets/images/banner6.jpg" class="d-block vc w-100" alt="...">
            <div class="carousel-caption">
                <h2>lets go new</h2>
                <h3>Explore and travel</h3>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="1000">
            <img src="../../assets/images/banner4.jpg" class="d-block vc w-100" alt="...">
            <div class="carousel-caption">
                <h2>lets go new</h2>
                <h3>Explore and travel</h3>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    <div class="overlay"></div>
</div>

<!-- http://35.89.179.187/travelsite/images/home-banner2.jpg -->
<!-- http://35.89.179.187/travelsite/images/home-banner1.jpg -->
<!-- http://35.89.179.187/travelsite/images/home-banner3.jpg -->





<div class="container px-lg-5 s1 position-relative  pt-5 pt-lg-0 pt-md-5 ">
    <div class="px-lg-5 px-2">
        <div class="card  c1 shadow ">

            <div class="row   pt-2 ">

                <ul class="d-lg-flex d-block m-0 px-5">
                    <li class="pe-3">
                        <img src="https://i.postimg.cc/g0v63R97/image.png" alt=""> <label for="">&nbsp; Flights</label>

                    </li>
                    <li class="pt-1 pe-3">
                        <div class="form-check">

                            <label (click)="onTabClick('return')" [class.active]="activeTab == 'return'"
                                class="form-check-label" for="flexRadioDefault1">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1" checked>
                                Round Trip
                            </label>
                        </div>
                    </li>
                    <li class="pe-3 pt-1">
                        <div class="form-check">
                            <label (click)="onTabClick('oneway')" [class.active]="activeTab == 'oneway'"
                                class="form-check-label" for="flexRadioDefault2">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault2">

                                One way
                            </label>
                        </div>
                    </li>
                    <li class="pe-3 pt-1">
                        <div class="form-check">
                            <label (click)="onTabClick('other details')" [class.active]="activeTab == 'other details'"
                                class="form-check-label" for="flexRadioDefault3">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault3">

                                Multi city
                            </label>
                        </div>
                    </li>

                    <li class="pe-3 pt-1">
                        <!-- <form [formGroup]="myForm" (ngSubmit)="searchflight()"> -->
                        <div class="dropdown">
                            <a class=" dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                data-bs-auto-close="outside" aria-expanded="false">
                                Traveller
                            </a>

                            <div class="dropdown-menu p-3">
                                <p class="text-center p-0" for="">Adult</p>
                                <div class="d-flex ">
                                    <button class="btn btn-primary btn-sm " type="button" (click)="minus()"><i
                                            class="fa fa-minus"></i></button>
                                    <input disabled class="text-center zx3" type="text" #box [value]="quantity" min="1"
                                        max="8">
                                    <button class="btn btn-primary btn-sm" type="button" (click)="plus()"><i
                                            class="fa fa-plus"></i></button>
                                </div>
                                <p class="text-center p-0" for="">Child</p>
                                <div class="d-flex w-50 ">
                                    <button class="btn btn-primary btn-sm " type="button" (click)="minus1()"><i
                                            class="fa fa-minus"></i></button>
                                    <input disabled class="text-center zx3" type="text" #box [value]="quantity1" min="1"
                                        max="8">
                                    <button class="btn btn-primary btn-sm" type="button" (click)="plusj()"><i
                                            class="fa fa-plus"></i></button>
                                </div>
                                <!-- <label for="">adult</label> <input #box (keyup)="getvalue(box.value)"  min="1" max="8" value="1"
                                        class="form-control" type="number">  -->


                                <!-- (keydown)="getvalue(box.value)" -->




                            </div>
                        </div>
                        <!-- </form> -->
                    </li>
                    <li class=" pt-1 ps-0">
                        <!-- <div class="dropdown">
                            <a class=" dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Economy
                            </a>

                            <div class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </div>
                        </div> -->
                        <select>
                            <option class="p-0" selected>Economy</option>
                            <option class="p-0" value="1">Business</option>
                            <option class="p-0" value="2">Students</option>
                            <!-- <option class="p-0" value="3">Three</option> -->
                        </select>
                    </li>
                </ul>










                <div *ngIf="activeTab == 'oneway'" class="w-100 px-4">
                    <form [formGroup]="myForm" (ngSubmit)="searchflight()">

                        <div class="container text-center col-lg-12">

                            <ul class="d-lg-flex  d-block  mk col-lg-12">
                                <li class="w-100 pt-2 pt-lg-0"> <input formControlName="OriginLocationCode" type="text"
                                        class=" form-control su  " placeholder="Departing from">
                                </li>
                                <li class="w-100 pt-2 pt-lg-0"> <input formControlName="DestinationLocationCode"
                                        type="text" class="form-control su  " placeholder="Going to">
                                </li>
                                <li class="w-100 pt-2 pt-lg-0"> <input formControlName="DepartureDateTime" type="date"
                                        class="form-control su ">
                                </li>


                                <li class="w-100 pt-2 pt-lg-0 d-none "> <input [(ngModel)]="quantity"
                                        formControlName="ADT" type="text" class="form-control su ">
                                </li>





                                <!-- <li class="w-100 pt-2 pt-lg-0"> <input formControlName="ADT" type="number"
                                        class="form-control su  ">
                                </li> -->
                                <li class="w-100 pt-2 ms-0 pt-lg-0">
                                    <!-- <button type="submit" class="btn  w-100">Search</button> -->
                                    <button [disabled]="loading" class="btn btna  w-100" type="submit">
                                        <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status"
                                            aria-hidden="true"></span>
                                        <span *ngIf="loading" class>Loading...</span>
                                        <span *ngIf="!loading">search</span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>

                <!-- return fligts or round trip -->

                <div *ngIf="activeTab == 'return'" class="w-100 px-4">
                    <form [formGroup]="returnform" (ngSubmit)="searchroundtrip()">
                        <div class="container text-center">
                            <ul class="d-lg-flex  d-block  mk col-lg-12">
                                <li class="w-100 pt-2 pt-lg-0"> <input #box (keyup)="getvalue(box.value)" type="text"
                                        formControlName="OriginLocationCode" class=" form-control su  "
                                        placeholder="Departing from">
                                </li>
                                <li class="w-100 pt-2 pt-lg-0"> <input #box2 (keyup)="getvalue2(box2.value)" type="text"
                                        formControlName="DestinationLocationCode" class="form-control su  "
                                        placeholder="Going to">
                                </li>
                                <li class="w-100 pt-2 pt-lg-0 d-none"> <input id="box" [(ngModel)]="displayval"
                                        type="text" formControlName="DestinationLocationCode1" class="form-control su  "
                                        placeholder="Going to">
                                </li>
                                <li class="w-100 pt-2 pt-lg-0 d-none"> <input id="box2" [(ngModel)]="displayval2"
                                        type="text" formControlName="OriginLocationCode1" class=" form-control su  "
                                        placeholder="Departing from">
                                </li>
                                <li class="w-100 pt-2 pt-lg-0"> <input type="date" formControlName="DepartureDateTime"
                                        class="form-control su ">
                                </li>
                                <li class="w-100 pt-2 pt-lg-0"> <input type="date" formControlName="DepartureDateTime1"
                                        class="form-control su ">
                                </li>
                                <li class="w-100 pt-2 pt-lg-0 d-none "> <input [(ngModel)]="quantity"
                                        formControlName="ADT" type="text" class="form-control su ">
                                </li>

                                <li class="w-100 pt-2 ms-0 pt-lg-0">
                                    <button [disabled]="loading" class="btn btna  w-100" type="submit">
                                        <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status"
                                            aria-hidden="true"></span>
                                        <span *ngIf="loading" class>Loading...</span>
                                        <span *ngIf="!loading">search</span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
                <div *ngIf="activeTab == 'other details'" class="w-100 px-4">
                    <div class="container text-center ">
                        <div class="row">
                            <div class="col-lg-9">
                                <ul class="d-lg-flex  d-block  mk col-lg-12">
                                    <li class="w-100 pt-2 pt-lg-0"> <input type="text" class=" form-control su  "
                                            placeholder="Departing from">
                                    </li>
                                    <li class="w-100 pt-2 pt-lg-0"> <input type="text" class="form-control su  "
                                            placeholder="Going to">
                                    </li>
                                    <li class="w-100 pt-2 pt-lg-0"> <input type="date" class="form-control su ">
                                    </li>


                                </ul>
                                <ul class="d-lg-flex  d-block  mk col-lg-12">
                                    <li class="w-100 pt-2 pt-lg-0"> <input type="text" class=" form-control su  "
                                            placeholder="Departing from">
                                    </li>
                                    <li class="w-100 pt-2 pt-lg-0"> <input type="text" class="form-control su  "
                                            placeholder="Going to">
                                    </li>
                                    <li class="w-100 pt-2 pt-lg-0"> <input type="date" class="form-control su ">
                                    </li>


                                </ul>
                            </div>

                            <div class="col-lg-3 pt-lg-3">
                                <div class="btn   w-100">Search</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- holidays -->

<div class="container xcx pt-4">
    <div class="text-center s3">
        <h3>
            choose your
        </h3>
    </div>
    <div style="color:#121E7E ;" class="text-center s4 ">
        <h2 class="s4">Perfect holiday</h2>
    </div>
    <div class="text-center">
        <p>Lorem ipsum dolor sit amet consectetur exercitationem est saepe, molestias maxime? Delectus, omnis.</p>
    </div>
</div>

<div class="container xcx  pt-3">
    <div class="row">
        <div class="card c2 col-lg-3 pt-2 pt-lg-0 pt-md-0 justify-content-center bb" style="width: 18rem;">
            <img src="https://i.postimg.cc/MHYKYMhJ/image.png" class="card-img-top" alt="...">
            <span class="dd">Dubai</span>
        </div>
        <div class="card c2 col-lg-3 pt-2 pt-lg-0 pt-md-0" style="width: 18rem;">
            <img src="https://i.postimg.cc/PJj2PC9D/image.png" class="card-img-top" alt="...">

        </div>
        <div class="card c2 col-lg-3 pt-2 pt-lg-0 pt-md-0" style="width: 18rem;">
            <img src="https://i.postimg.cc/KvZhWjj4/image.png" class="card-img-top" alt="...">

        </div>
        <div class="card c2 col-lg-3 pt-2 pt-lg-0 pt-md-0" style="width: 18rem;">
            <img src="https://i.postimg.cc/Cx3vWr7J/image.png" class="card-img-top" alt="...">

        </div>
        <div class="card c2 col-lg-3 pt-2 pt-lg-3 pt-md-0" style="width: 18rem;">
            <img src="https://i.postimg.cc/XvKgtjp7/image.png" class="card-img-top" alt="...">

        </div>
        <div class="card c2 col-lg-3 pt-2 pt-lg-3 pt-md-0" style="width: 18rem;">
            <img src="https://i.postimg.cc/RVfGwL4H/image.png" class="card-img-top" alt="...">

        </div>
        <div class="card c2 col-lg-3 pt-2 pt-lg-3 pt-md-0" style="width: 18rem;">
            <img src="https://i.postimg.cc/NfSqj4b2/image.png" class="card-img-top" alt="...">

        </div>
        <div class="card c2 col-lg-3 pt-2 pt-lg-3 pt-md-0 rel" style="width: 18rem;">
            <img src="https://i.postimg.cc/pd9BXfGr/image.png" class="card-img-top" alt="...">
            <span class="centered">Thailand</span>

        </div>

    </div>
</div>




<div class="pt-5">
    <div class="card text-bg-dark ">
        <img src="https://i.postimg.cc/Bvz6CDBr/image.png" class="card-img" alt="...">
        <div class="card-img-overlay container pt-lg-5 text-center">
            <h5 class="card-title text-center xx">Go & Discover</h5>
            <h4 class="text-center xxx d-block">Breath Taking Cities</h4>

        </div>
        <!-- <div class="card-img-overlay justify-content-center d-flex mt-5  p-5">
          <img src="https://i.postimg.cc/QCJyktWy/image.png w-50" alt="">
        </div> -->
    </div>
    <div class="overlay1"></div>
</div>


<div class="container position-relative s0 pt-2 pt-lg-0 pt-md-0">
    <div class="px-lg-5 mx-lg-5">
        <img class="px-lg-5" src="https://i.postimg.cc/QCJyktWy/image.png" alt="">
    </div>
</div>


<!-- section -->

<div class="container pt-3">
    <div class="text-center">
        <h4 class="choose">Choose your</h4>
        <h3><span class="choose2">Popular flights near you</span></h3>
        <small>Find deals on domestic and international flights</small>
    </div>
</div>


<div class="container pt-4">
    <div class=" gap-4 d-block text-center">
        <button (click)="onTabClick1('Personal Details1')" [class.active1]="activeTab1 == 'Personal Details1'"
            class="tab-link1 btn btn-primary">international</button>&nbsp;

        <button (click)="onTabClick1('Account Details1')" [class.active1]="activeTab1 == 'Account Details1'"
            class="tab-link1 btn btn-primary">Domestic
        </button>

    </div>

</div>



<owl-carousel-o *ngIf="activeTab1 == 'Personal Details1'" [options]="customOptions">
    <ng-template carouselSlide>
        <img class="pe-1 py-4" src="https://i.postimg.cc/PJj2PC9D/image.png" alt="">
    </ng-template>
    <ng-template carouselSlide>
        <img class="pe-1 py-4" src="https://i.postimg.cc/Cx3vWr7J/image.png" alt="">
    </ng-template>
    <ng-template carouselSlide><img class="pe-1 py-4" src="https://i.postimg.cc/Cx3vWr7J/image.png" alt="">
    </ng-template>
    <ng-template carouselSlide><img class="pe-1 py-4" src="https://i.postimg.cc/XvKgtjp7/image.png" alt="">
    </ng-template>

    <ng-template carouselSlide><img class="pe-1 py-4" src="https://i.postimg.cc/RVfGwL4H/image.png" alt="">
    </ng-template>
    <ng-template carouselSlide>
        <img class="pe-1 py-4" src="https://i.postimg.cc/PJj2PC9D/image.png" alt="">
    </ng-template>
    <ng-template carouselSlide>
        <img class="pe-1 py-4" src="https://i.postimg.cc/Cx3vWr7J/image.png" alt="">
    </ng-template>
</owl-carousel-o>


<owl-carousel-o *ngIf="activeTab1 == 'Account Details1'" [options]="customOptions">
    <ng-template carouselSlide>
        <img class="pe-1 py-4" src="https://i.postimg.cc/RVfGwL4H/image.png" alt="">
    </ng-template>
    <ng-template carouselSlide>
        <img class="pe-1 py-4" src="https://i.postimg.cc/PJj2PC9D/image.png" alt="">
    </ng-template>
    <ng-template carouselSlide><img class="pe-1 py-4" src="https://i.postimg.cc/Cx3vWr7J/image.png" alt="">
    </ng-template>
    <ng-template carouselSlide>
        <img class="pe-1 py-4" src="https://i.postimg.cc/Cx3vWr7J/image.png" alt="">
    </ng-template>
    <ng-template carouselSlide><img class="pe-1 py-4" src="https://i.postimg.cc/XvKgtjp7/image.png" alt="">
    </ng-template>

    <ng-template carouselSlide><img class="pe-1 py-4" src="https://i.postimg.cc/RVfGwL4H/image.png" alt="">
    </ng-template>
    <ng-template carouselSlide>
        <img class="pe-1 py-4" src="https://i.postimg.cc/PJj2PC9D/image.png" alt="">
    </ng-template>
    <ng-template carouselSlide>
        <img class="pe-1 py-4" src="https://i.postimg.cc/PJj2PC9D/image.png" alt="">
    </ng-template>

</owl-carousel-o>



<div class="container pt-4">
    <div class="text-center">
        <h4 class="choose">Choose your</h4>
        <h3><span class="choose2">Best flight booking offers</span></h3>
        <small>When you book with us you know you are booking with the best in the business</small>
    </div>
</div>

<div class="container  px-lg-5 v0 pt-5">
    <div class="row pt-4 px-lg-5">
        <div class="card col-lg-3 col-md-3 col-6 nml " style="width: 6rem; align-items: center; text-align: center;">
            <img src="https://i.postimg.cc/bwcsXt8f/image.png" class="card-img-top justify-content-center"
                style="width: 4rem;" alt="...">
            <div class="card-body">
                <h5 class="card-title">Get 8% cashback</h5>
                <p class="card-text">On flight with travel site.</p>
            </div>
        </div>

        <div class="card col-lg-3 col-md-3 col-6 nml" style="width: 6rem; align-items: center; text-align: center;">
            <img src="https://i.postimg.cc/kM6zpjcG/image.png" class="card-img-top justify-content-center"
                style="width: 4rem;" alt="...">
            <div class="card-body">
                <h5 class="card-title">Flat 12% off on</h5>
                <p class="card-text">Flights via mobiwik</p>
            </div>
        </div>

        <div class="card col-lg-3 col-md-3 col-6 nml" style="width: 6rem; align-items: center; text-align: center;">
            <img src="https://i.postimg.cc/FRfWwR08/image.png" class="card-img-top justify-content-center"
                style="width: 4rem;" alt="...">
            <div class="card-body">
                <h5 class="card-title">International</h5>
                <p class="card-text">Travel guides</p>
            </div>
        </div>

        <div class="card col-lg-3 col-md-3 col-6 nml" style="width: 6rem; align-items: center; text-align: center;">
            <img src="https://i.postimg.cc/8PgKnTcX/image.png" class="card-img-top justify-content-center"
                style="width: 4rem;" alt="...">
            <div class="card-body">
                <h5 class="card-title">Book a flight</h5>
                <p class="card-text">Get valuable voucher</p>
            </div>
        </div>
    </div>
</div>

<section class="v123">

    <div class="container-fluid">
        <!-- <owl-carousel-o [options]="customOptions1"> -->

        <div class="text-center text-white mb-5">
            <h3 class="mt-3 pt-3" style="font-family: lobster; font-weight: bold;">Read the top</h3>
            <h2 class="mnl">Travel reviews</h2>
            <small class="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis impedit nostrum dolores
                maiores
                veniam
                hic, ex tempora fugiat commodi neque ratione officia optio dicta. Est inventore qui amet eaque
                voluptate.</small>
        </div>


        <!-- <ng-template carouselSlide>
                <div class="col-sm-4 p-1 tty">

                    <div class="media bg-white p-2 ">

                        <img src="https://i.postimg.cc/sX8LgWvr/image.png" class="mr-3 pt-3" alt="">
                        <div class="media-body">
                            <div class="testimonial">
                                <p><b>Hollend canels</b></p>
                                <p class="tt">Holland is famous for its canals. Admire the unique structure of Dutch
                                    cities. Go for a boat tour through the canals ....

                                </p>
                                <p class="overview"><b>Roger Brooks</b></p>
                            </div>
                        </div>

                    </div>


                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="col-sm-4 p-1 tty">
                    <div class="media bg-white p-2 ">
                        <img src="https://i.postimg.cc/15jY02SK/image.png" class="mr-3 pt-3" alt="">
                        <div class="media-body">
                            <div class="testimonial">
                                <p><b>Dubai</b></p>
                                <p class="tt">Dubai, ‘the land of Gold’ is one of the most cosmopolitan cities
                                    in
                                    the
                                    world.

                                </p>
                                <p class="overview"><b>Ema cooper</b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="col-sm-4 p-1 tty">
                    <div class="media bg-white p-2 ">
                        <img src="https://i.postimg.cc/PrgQ5jh0/image.png" class="mr-3 pt-3" alt="">
                        <div class="media-body">
                            <div class="testimonial">
                                <p><b>Taipei</b></p>
                                <p class="tt">Holland is famous for its canals. Admire the unique structure of
                                    Dutch
                                    cities. Go for a boat tour through the canals ....

                                </p>
                                <p class="overview"><b>James fisher</b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template> -->


        <!-- </div>
       </owl-carousel-o>

       </div> -->



        <owl-carousel-o [options]="policyOptions">
            <ng-template carouselSlide>
                <div class="row  d-flex justify-content-center">
                    <div class="col-md-12 ">
                        <div class="card car1">
                            <div class="card-body ">
                                <div class="row">
                                    <div class="col-lg-4 d-flex justify-content-center align-items-center mb-4 mb-lg-0">
                                        <img src="https://i.postimg.cc/sX8LgWvr/image.png"
                                            class="rounded-circle img-fluid shadow-1" alt="woman avatar" width="200"
                                            height="200" />
                                    </div>
                                    <div class="col-lg-8">
                                        <p class="fw-bold lead mb-2"><strong>Dubai</strong></p>

                                        <p class="text-muted fw-light q1">
                                            Dubai, ‘the land of Gold’ is one of the most cosmopolitan cities in the
                                            world.
                                        </p>
                                        <p class="fw-bold lead mb-2"><strong>Ema cooper</strong></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>


            <ng-template carouselSlide>
                <div class="row d-flex justify-content-center">
                    <div class="col-md-12 ">
                        <div class="card car1">
                            <div class="card-body ">
                                <div class="row">
                                    <div class="col-lg-4 d-flex justify-content-center align-items-center mb-4 mb-lg-0">
                                        <img src="https://i.postimg.cc/PrgQ5jh0/image.png"
                                            class="rounded-circle img-fluid shadow-1" alt="woman avatar" width="200"
                                            height="200" />
                                    </div>
                                    <div class="col-lg-8">
                                        <p class="fw-bold lead mb-2"><strong>Taipei</strong></p>

                                        <p class="text-muted fw-light q1 ">
                                            Taipei is the economic, political, educational and cultural center of Taiwan
                                            and one of the...


                                        </p>
                                        <p class="fw-bold lead mb-2"><strong>James Fisher</strong></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="row d-flex justify-content-center">
                    <div class="col-md-12 ">
                        <div class="card car1">
                            <div class="card-body ">
                                <div class="row">
                                    <div class="col-lg-4 d-flex justify-content-center align-items-center mb-4 mb-lg-0">
                                        <img src="https://i.postimg.cc/15jY02SK/image.png"
                                            class="rounded-circle img-fluid shadow-1" alt="woman avatar" width="200"
                                            height="200" />
                                    </div>
                                    <div class="col-lg-8">
                                        <p class="fw-bold lead mb-2"><strong>Hollend canels
                                            </strong></p>
                                        <p class="text-muted fw-light q1 ">
                                            Holland is famous for its canals. Admire the unique structure of Dutch
                                            cities. Go for a boat tour through the canals ....

                                        </p>
                                        <p class="fw-bold lead mb-2"><strong>Roger Brooks
                                            </strong></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="row d-flex justify-content-center">
                    <div class="col-md-12 ">
                        <div class="card car1">
                            <div class="card-body ">
                                <div class="row">
                                    <div class="col-lg-4 d-flex justify-content-center align-items-center mb-4 mb-lg-0">
                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20%2810%29.webp"
                                            class="rounded-circle img-fluid shadow-1" alt="woman avatar" width="200"
                                            height="200" />
                                    </div>
                                    <div class="col-lg-8">
                                        <p class="fw-bold lead mb-2"><strong>Taipei</strong></p>

                                        <p class="text-muted fw-light q1 ">
                                            Taipei is the economic, political, educational and cultural center of Taiwan
                                            and one of the...


                                        </p>
                                        <p class="fw-bold lead mb-2"><strong>James Fisher</strong></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>


        </owl-carousel-o>
    </div>
</section>